body {
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    text-align: center;
    font-size: 300%;
    color: #f2f3f4;
    margin-bottom: 5px;
    text-shadow: 0 0 5em black, 0 0 .25em black;
}
img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#box {
    background-color: #f2f3f4;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 25px 25px 25px 25px;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 0 2em black, 0 0 .25em black
}
#about{
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
#purpose {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
#links {
    background-color: #c5b358;
    border-radius: 15px;
    display: inline-block;
    padding: 5px;
    min-width: 20px;
    margin-inline: 5px;
}
a {
    text-align: center;
    padding: 35px;
    color: maroon;
    margin: auto;
}